/*top-section*/
.top-section{
	padding-top: 40px;
	padding-bottom: 30px;
}

/*main-area*/
.bg-light{
    background-color: #f8f9fa!important;
}

/*input-section*/
.input-section{
	padding-top: 30px;
	padding-bottom: 30px;
}
/*.text-inst{
	padding-bottom: 1px;
}*/

/*result-section*/
.result-section{
	padding-top: 20px;
	padding-bottom: 30px;
}

#result-txt{
    overflow-y: scroll;
    /*height: 100px;*/
    resize: none; 
}

.table-responsive {
    max-height:300px;
}


/*footer*/
footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-muted {
    color: #6c757d!important;
}

.input-section .form-group, .input-section .form-group input{   
    margin-bottom: 0.5em;
}

#errorDisplayArea{
  margin-top: 0.8em;
  width: 100%;
  overflow-x: auto;
  display:none;
}

/*page loader*/
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

