
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    height: 100%;
}

.row{
    width:100%;
}

/*main-area*/

.sidebar, .content{
    
}

.sidebar{
    background-color: #f7f7f7;
    border-right: 1px solid #eee;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom:60px;
    overflow-x: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

.content{
    height: 100vh;
    margin-left: 450px;
    
    padding-right: 40px;
}

.top-section, .sidebar{
    padding-top: 40px;
    padding-bottom: 30px;
    
}

/*input-section*/
.input-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.input-section textarea{ 
    margin-top: -0.8em;
    margin-bottom: 1em;
}

#importBtn{
    margin-left: 10px;
}

.btn-primary{
    background-color: #464846 !important;
    background-image: linear-gradient(-180deg, #a5a9a6, #464846 90%) !important;
    border-color: #8e8e8e !important;
}

.btn-success{
    background-color: #2d7b88 !important;
    background-image: linear-gradient(-180deg, #3fbfd4, #2d7b88 90%) !important;
    border-color: #3da5b7 !important;
}

#fileInput{
    display: none;
}

#fileDisplayArea{
     width: 100%;
}

#errorDisplayArea{
  margin-top: 0.8em;
  width: 100%;
  overflow-x: auto;
  display:none;
}

/*result-section*/
.result-section{
    padding-top: 20px;
    padding-bottom: 30px;
}

#result-txt{
    overflow-y: scroll;
    /*height: 100px;*/
    resize: none; 
}

.table-responsive {
    max-height:300px;
}


/*footer*/
footer {
    padding-top: 1.3rem;
    
    position:fixed;
    bottom:0;
    width: 100%;
    height:60px;   
    background:#414141;
}

footer #copy-text{
    margin-left: 2em;
    color: #f7f3f3 !important;
    font-size: 14px;
}


/*page loader*/
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

